<div id="label">
	<h3>Menu</h3>
</div>

<nav class="row">
	<a routerLink="" (click)="closeMenu()">Home</a>
	<a routerLink="pricing" (click)="closeMenu()">Pricing</a>
	<a routerLink="contact" id="cta" (click)="closeMenu()">Contact</a>


	<footer class="row">
		<div id="socials" class="column">
			<a (click)="closeMenu()" *ngFor="let social of socials" href="{{social.url}}"><img src={{social.img}} alt={{social.alt}}></a>
		</div>

		<figure>
			<img src="../../media/logomark.png" alt="bingham x solutions logo">
			<figcaption>bingham x solutions &copy;2024</figcaption>
		</figure>
	</footer>

	<button (click)="closeMenu()">CLOSE</button>
</nav>