@import "src/styles.sass"

article
	background: $battleshipGray url(../../media/plant_ribbon.jpg) center / cover no-repeat
	display: grid
	justify-content: center
	row-gap: 10px
	.column, p
		text-align: center
