<div class="contact-card animated">
	<figure>
		<img class="profile-pic" src="../media/profile.jpg" alt="Profile picture">
		<figcaption>Kashai Bingham</figcaption>
	</figure>

	<p>Front-end Developer</p>
	
	<div class="socials">
		<a href="https://linkedin.com/in/binghamxsolutions"><img class="animated" src="../icons/iLinkedIn_black.png" alt="LinkedIn icon"></a>
		<a href="https://instagram.com/binghamxsolutions"><img src="../icons/iInstagram_black.png" alt="Instagram icon"></a>
	</div>

	<a id="send-email" href="mailto:binghamxsolutions@gmail.com">Email Me!</a>
</div>