@import 'src/styles.sass'

/*\SHARED STYLES\*/
@media screen and (max-width: 479px), (min-width: 480px) and (max-width: 767px) 
.pricing:focus .price-card, .back 
	transform: rotateY(180deg) 
.pricing:focus 
	outline: none
.front, .back 
	-webkit-backface-visibility: hidden
	backface-visibility: hidden


/*DISPLAY*/
section 
	display: flex
.front, .back, .switch, #switch 
	display: grid
#design 
	display: none


/*FLEX STYLES*/
header, .price 
	flex: 1
section 
	flex-wrap: wrap


/*GRID STYLES*/
.switch 
	grid-auto-flow: column
section 
	justify-content: center
.switch 
	align-items: center


/*Color*/
/*?text*/
.price, .cta, button, .switch, .standard th, .bundle th 
	color: #fff
/*?background*/
.price, button 
	background-color: #000
.front, article table 
	background-color: #fff

/*Alignment*/
/*?content*/
/*?position*/
.front, .back 
	position: absolute
/*?text*/
table, back h2, button 
	text-align: center

/*Sizing*/
.price-card, .front, table, .back 
	height: 100%
.price-card, .front, table, .back, button 
	width: 100%
.switch 
	width: 230px

/*\GENERAL STYLES\*/
article 
	background: grey url(../../media/pricetag.jpg) center / cover fixed no-repeat
	flex-direction: column




.switch 
	margin: 30px
#test   
	display: none
label  
	cursor: pointer
	align-items: center

#toggle 
	position: absolute
	transition: 0.4s
	height: 50px
	width: 150px
	background-color: $ebony
	border: 1px #777 ridge
	border-radius: 36px

#indicator 
	height: 50px
	width: 50px
	border-radius: 50%
	background-color: $fulvous
	position: absolute
	transition: 0.4s
	left: 100px
	box-shadow: 2px 2px 5px #000
	z-index: 4

#value 
	position: absolute
	left: 35px
	color: #fff
	z-index: 3
	font-weight: bold





section 
	position: relative
	left: 0
	right: 0
	margin: auto

h1 
	text-shadow: -2px 1px 2px $bone
	color: $wenge

.pricing 
	margin: 10px
	height: 400px
	width: 300px
	perspective: 1000px
	transition: width, height 0.6s

.pricing:hover 
	z-index: 5

.price-card 
	position: relative
	transition: transform 0.6s
	transform-style: preserve-3d


.standard th 
	background-color: $darkPurple
.bundle th 
	background-color: #000
.bundle .price 
	background-color: $bone 
	color: #000
.bundle .cta 
	background-color: $ebony
th 
	background-color: $bone
	font: normal 3em/1em serif

.price 
	font: bold 1em/1em "Helvetica", sans-serif
.cta 
	background-color: $fulvous
	font-size: 1.5em


.back 
	background-color: $bone
	overflow: auto

.back p 
	padding: 0% 15px
.back th 
	background-color: $ebony
	color: #fff

.back table 
	background-color: $bone
	color: #000


article table 
	border: 1px solid black


/*\SMALL MOBILE DEVICE STYLES\*/
@media screen and (min-width: 240px) and (max-width: 359px) 
	body 
		row-gap: 15px
	.switch 
		margin: 0px
		height: 10vh
		width: 90vw
		justify-self: center
	
	#toggle 
		margin: 0px 15px
	.pricing 
		width: 80vw


/*\MOBILE STYLES\*/
//@media screen (min-width: 360px) and (max-width: 479px) 


/*\TABLET STYLES\*/
//@media screen and (min-width: 480px) and (max-width: 767px) 
