@import 'src/styles.sass'

/*\SHARED STYLES\*/



/*DISPLAY*/
section, #services, .service, .description
	display: grid
#services
	justify-content: center
	.service
		width: 75vw
		grid-template-columns: 70% auto
		button
			border: none
			font-size: 1.75em
			font-weigth: bold
			text-align: center
			&:hover
				filter: invert(15%)

.bCard
	background-color: $fulvous
.logo
	background-color: $bone
.flyer
	background-color: $wenge
.website
	background-color: $ashGray