body, #new-items, #top-brands, .brand, #hero, #details, #form, #feedback, #chat-btn, #chat-form, #response {display: grid;}
@keyframes spin {
	from {transform: rotateY(360deg);}
	to{transform: rotateY(0deg);}
}
html, body {min-height: 100vh;}
html {background: grey url(../media/watch.jpg) center /cover fixed no-repeat;}
body {
	margin: 0px;
	overflow-x: hidden;
}

article {
	backdrop-filter: blur(10px); 
	width: 90%;
	justify-self: center;
	box-shadow: 0px 0px 10px #000;
}
#hero {
	background: url(../media/watch.jpg) center / cover fixed no-repeat;
	text-shadow: 0px 0px 3px #fff;
	align-content: center;
}
#hero h1 {
	font-size: 48pt;
	margin: 0;
}
#hero p {
	font-size: 18pt;
	color: #fff;
	text-shadow: 0px 0px 3px #000, 1px 1px 5px #fff;
}
#hero button {
	justify-self: center;
	font-size: 36pt;
	background-color: #000;
	color: #fff;
	font-family: serif;
}
#hero button:hover {filter: invert(100%);}
#parallax {
	background: url(../media/clock.jpg) center / cover fixed no-repeat;
	color: #fff;
	overflow: hidden;
	text-shadow: 0px 0px 3px #0033aa;
	mask-image: linear-gradient(to bottom, white 10%, #000 80%, transparent 100%);
}
#details {background-color: #fff;}
section {min-height: 100vh;}
footer {
	text-align: center; 
	color: #fff;
	filter: drop-shadow(1px 1px 1px #000);
}
header {background-color: #000;}
header img {
	height: 150px;
	width: 150px;
	object-fit: contain;
	float: right;
}
#new-items {
	justify-content: space-around;
	grid-template-columns: auto auto auto;
	row-gap: 20px;
}
.watch {
	width: 250px;
	height: auto;
	object-fit: contain;
}
#card {}
#carousel {perspective: 1000px;}
#top-brands {
	justify-items: center;
	transform-style: preserve-3d;
	animation: spin 40s linear infinite;
}
#top-brands:hover {
	animation-play-state: paused;
}
.brand {
	border: #fff 1px dotted;
	justify-items: center; 
	background-color: #0033aa77; 
	position: absolute;
}
.brand img {
	height: 200px;
	width: 200px;
	object-fit: contain;
}
.card:nth-child(odd) {background-color: #7a7a7a;}
.card:nth-child(even) {background-color: #3179ae;}
.card a {color: #fff;}
#disclaimer {
	font-size: .75em;
	align-self: end;
}
#form {
	grid-template-columns: max-content;
	background-color: #fff;
	border-radius: 5px 0px 0px 0px;
	box-shadow: 0px 0px 5px #000;
}
#form button{justify-self: right;}
#form button:hover{ cursor: pointer;}
#close {
	font: bold 18pt /1.15em sans-serif;
	border: none;
	background-color: transparent;
	color: #00f;
}
#close:hover {color: #000;}
#tab {
	color: #fff;
	background-color: #000;
	writing-mode: vertical-lr;
	text-orientation: mixed;
	border: none;
	border-radius: 0px 10px 10px 0px;
	font: bold 18px / 2em sans-serif;
	transform: rotateZ(180deg);
	filter: drop-shadow(1px 1px 3px #ccc);
}
#tab:hover {filter: invert(70%); cursor: pointer;}
#feedback{
	grid-template-columns: max-content max-content;
	align-items: end;
	position: fixed;
	bottom: 25vh;
	z-index: 10;
	transition: 3s;
}
#chat-btn {
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	border: 3px #fff solid;
	background-color: #03f;
	height: 75px;
	width: 75px;
	align-content: center;
	justify-items: center;	
	transition: box-shadow 1s, bottom .5s;
	right: 75px;
	z-index: 5;
}
#chat-btn:hover {
	box-shadow: 1px 1px 3px #000;
	bottom: 25px;
	cursor: pointer;
}
#chat-btn img {
	width: 50px;
	height: 50px;
	object-fit: contain;
}
#chat-form {
	grid-template-columns: max-content;
	background-color: #03f;
	position: fixed;
	bottom: 20px;
	border: #fff solid 1px;
	right: 75px;
	z-index: 11;
	visibility: hidden;
}
#banner {
	color: #fff;
}
#closebtn {
	float:right;
	color: #000;
}
#closebtn:hover {
	cursor: pointer;
	color: #fff;
}
#body {
	height: 300px;
	width: 300px;
	overflow: auto;
	border: 2px grey inset;
	background-color: #fff;
	scroll-behavior: smooth;
}
#response {
	margin: 2px;
	grid-template-columns: 75% auto;
	column-gap: 5px;
}
#body p {
	width: max-content;
	line-height: 1.5em;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 0px;
	max-width: 90%;
}
.bot {
	background-color: #5d9;
	font-weight: bold;
	clear: right;
}
.user {
	background-color: #037;
	float: right;
	color: #fff;
}
.timestamp {
	font: italic 8pt / 1.15 serif;
	color: #7a7a7a;
	background-color: transparent;
}

.unsupported {display: none;}


/*UNSUPPORTED DEVICES*/
@media screen and (max-width: 239px) {
	body {overflow: hidden;}
	.unsupported {
		display: grid; 
		position: sticky; 
		top: 0;
		backdrop-filter: blur(100px);
		justify-content: center;
		justify-items: center;
		align-content: center;
		z-index: 30;
		height: 100vh;
		width: 100vw;
		background-color: #0009;
		color: #ddd;
	}
		.unsupported img {height: 20vh;}
		.unsupported p {color: var(--bone); text-align: center; font-size: 7vw;}
		.unsupported h1 {font-size: 15vw;}
}

/*\SMALL MOBILE DEVICE STYLES\*/
@media screen and (min-width: 240px) and (max-width: 359px) {
	body {overflow-x: auto;}
		header img {width: 5em; height: 5em; object-fit: cover;}
	
	section h2, section h3 {text-align: center;}
	#hero {text-align: center;}
		#hero h1 {font-size: 3em;}
		#hero p {font-size: 1.15em;}
		#hero button {font-size: 1.5em;}
	#parallax {height: 200vh;}
		#carousel {perspective: 1999px;}
			.brand {width: min-content; text-align: center;}
				.brand img {height: 5em; width: 5em;}
	#new-items {grid-template-columns: auto auto;}
		.watch {width: 5em;}
	.card {display: grid; justify-items: center; text-align: center;}
		.card a {text-align: center; display: block;}
	
	#chat-form {bottom: 0; right: 0;}
		#body {height: 70vh; width: 90vw;}
	#chat-btn {width: 3em; height: 3em; right: 5%; bottom: 2%;}
		#chat-btn img {width: 2em; height: 2em;}
	#feedback {right: 0; bottom: 25%;}
		#feedback button {font-size: 1em;}
		#feedback form {
			display: grid; 
			visibility: hidden;
			position: fixed; 
			top: 0px; 
			right: 0px; 
			height: 90vh;
			width: 70vw;
			overflow: auto;
			padding: 5%; 
			grid-template-columns: auto;
			border: 3px #07a solid;
		}
			#feedback form h1 {text-align: center; word-wrap: break-word;}
}

/*\MOBILE STYLES\*/
@media screen and (min-width: 360px) and (max-width: 479px) {
	header img {height: 4em; width: 4em; object-fit: cover;}
	
	#hero h1 {font-size: 3em;}
	#hero p {font-size: 1.15em;}
	#hero button {font-size: 2em;}
	
	#parallax {min-height: 200vh;}
	
	#new-items {
		grid-template-columns: repeat(auto-fill, 4.5em); 
		justify-content: space-evenly; 
		justify-items: center;
	}
		.watch {width: 4em;}

	.card {display: grid; justify-items: center;}
	.card h2, .card h3 {text-align: center;}

	#tab {bottom: 40%; position: fixed; right: 0; font-size: 1em;}
	#form {
		bottom: 0;
		right: 0;
		height: 90vh;
		width: fit-content;
		border: #37a solid 3px;
		overflow: auto;
		padding: 5px;
		position: fixed;
	}
		#form h1 {font-size: 1.5em; word-wrap: break-word;}
	
	#chat-form {height: 100vh; right: 0; bottom: 0;}
		#body {height: 90%;}
	#chat-btn {height: 3em; width: 3em; bottom: 2%; right: 5%;}
		#chat-btn img {height: 2em; width: 2em;}
}

/*\TABLET STYLES\*/
@media screen and (min-width: 480px) and (max-width: 767px) {}