@charset "utf-8";
@import "base.css";

/**keyframe animations*/
@keyframes float {
	0% {
		transform: translateY(0);
		box-shadow: 0px 10px 10px #0007;
	}
	50% {
		transform: translateY(-15%);
		box-shadow: 0px 20px 20px #0003;
	}
	100% {
		transform: translateY(0);
		box-shadow: 0px 10px 10px #0007;		
	}
}
@keyframes floatMobile {
	0% {
		transform: translateY(0);
		box-shadow: 0px 10px 10px #0007;
	}
	50% {
		transform: translateY(-5%);
		box-shadow: 0px 20px 20px #0003;
	}
	100% {
		transform: translateY(0);
		box-shadow: 0px 10px 10px #0007;		
	}	
}

/*\SHARED STYLES\*/
@media screen and (max-width: 479px), (min-width: 480px) and (max-width: 767px) {}
#steps table {
	border-collapse: collapse;
	filter: drop-shadow(-3px 2px 4px #000);
}
#steps th { border-radius: 5px 5px 0px 0px}
#steps td {border-radius: 0px 0px 5px 5px;}

/*DISPLAY*/
section, #steps, #options, .more-info, #more {display: grid;}

/*FLEX STYLES*/


/*GRID STYLES*/
/*section {row-gap: 20px;}*/
#steps {grid-auto-flow: column;}
#options, #more {grid-auto-flow: row;}
#steps, #options, #sample-list {column-gap: 20px;}
.more-info {grid-template-columns: 50% 50%;}
#more {row-gap: 20px;}
section {
	grid-template-columns: 70%;
	justify-content: center;
}

/*Color*/
/*?text*/
/*?background*/


/*Alignment*/
/*?content*/
#info, #more {justify-content: center;}
#options, .more-info {justify-items: center;}
#cta {justify-self: center;}
/*?position*/



/*\GENERAL STYLES\*/
body {
	background: grey url(../media/wireframe.jpg) 100% 100% / cover fixed no-repeat; 
	backdrop-filter: blur(2px);
}
/*header, article {backdrop-filter: blur(2px);}*/
header {
	background-color: transparent;
	transition: 0.5s;
	box-shadow: none;
}
header a {color: var(--fulvous); text-shadow: 2px 1px var(--darkPurple);}
nav a {text-shadow: -1px -1px 0.5px var(--darkPurple);}

h1 {
	color: var(--silver);
	text-shadow: -3px -3px 2px var(--darkPurple);
}

section {padding: 15px;}
/*#info  {color: var(--ashGray); background-color: #0007; /*filter: drop-shadow(1px 1px #000);}*/
/*#next-steps {filter: blur(10px);}*/
#info p {
	filter: drop-shadow(1px 1px #000);
	color: var(--earthYellow);
	text-shadow: -2px 1px 2px var(--darkPurple);
}

#next-steps {background: grey url(../media/concept_art.jpg) 100% 100% / cover fixed no-repeat; color: var(--wenge);}
#next-steps p {text-shadow: -2px 1px 1px var(--bone);}
#next-steps a {color: var(--darkPurple);}
#next-steps h2 {color: var(--bone); text-shadow: -1px 1px var(--wenge);}
#next-steps #tips {color: var(--bone);}

#cta, #price, #example {
	border: none;
	border-radius: 3px;
	background-color: var(--ebony);
	color: #fff;
	/*box-shadow: 0px 0px 3px 1px #fff, 2px 2px 5px #000;*/
	filter: drop-shadow(-1px 1px 3px var(--ashGray));
	font-weight: bold;
}
#cta:hover, #price:hover, #example:hover {background-color: var(--fulvous);}


#steps table th {background-color: #fff; font-size: 24px; line-height: 1.15em; color: var(--darkPurple);}
#steps td {
	padding: 20px;
	background-color: var(--darkPurple);
	color: var(--bone);
}

.help {
	background-color: var(--darkPurple);
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 10px;
	font-weight: bold;
	text-align: center; 
}
.help:hover {
	box-shadow: 1px 1px 3px #000;
	background-color: var(--silver);
	color: #000;
}

#next h2 {
	color: var(--ebony);
	text-shadow: -2px 1px 1px var(--ashGray);
}
#more {
	padding: 20px;
	/*writing-mode: vertical-lr;
	text-orientation: upright;*/
	align-content: center; 
}
#more .help {
	padding: 40px;
	font-size: 24px;
}
#more .help:hover {
	mix-blend-mode: multiply;
	text-shadow: #fff 0px 0px , #000 1px 1px;
}
#price:hover {
	background: #000 url("../media/housing_logo.png") 100% 100% / cover no-repeat; 	
}
#example:hover {
	background: #000 url("../media/qfp_homepage.png") 100% 100% / cover no-repeat; 
}


.socials {display: grid; grid-auto-flow: column; column-gap: 10px;}
.socials img {width: 30px; transition: transform .5s, filter .5s;}
.socials img:hover {
	transform: translateY(-5px) scale(1.05);
	filter: drop-shadow(0px 0px 2px var(--darkPurple));
}
.contact-card {
	display: grid;
	justify-items: center;
	background-color: var(--bone);
	border-radius: 10px;
	filter: drop-shadow(-10px -10px var(--wenge));
	animation: float 5s linear infinite;
	padding: 30px;
	row-gap: 15px;
}
	.contact-card figure {margin: 0px;}
		.contact-card figcaption {text-align: center; font-weight: bold;}
	.contact-card p {font-style: italic; margin: 0px; text-align: center;}
	.contact-card button {
		border: none;
		filter: drop-shadow(1px 1px 3px var(--fulvous)); 
		border-radius: 2px;
		font-size: 1.5em;
		background-color: var(--darkPurple);
		color: var(--silver);
	}
	.contact-card button:hover {
		cursor: pointer;
		outline: inset var(--fulvous);
		
	}
	.contact-card button:active {
		background-color: var(--fulvous);
		color: var(--darkPurple);
	}
.profile-pic {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	border: double var(--ebony) 5px;
}


#contact {
	display: none;
	background-color: rgba(147,150,131,0.9);
	color: #fff;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 12;
	align-content: center;
	justify-items: center;
	row-gap: 35px;
	padding: 0px;
}
	.contact-info {
		background-color: var(--bone);
		color: var(--darkPurple);
		padding: 2%;
		box-shadow: 1px 1px #000, 2px 3px 4px #fff;
	}
		.contact-info:hover {
			filter: contrast(50%);
		}
		.contact-info:active {
			background-color: var(--ebony);
		}
	#closeContact {
		background-color: var(--darkPurple);
		color: #fff;
		border: none;
		box-shadow: 0px 0px 4px #fff;
		font-size: 16pt;
	}
		#closeContact:hover {
			background-color: #000;
		}
		#closeContact:active {
			background-color: var(--bone);
			color: var(--darkPurple);
		}


/*\MOBILE STYLES\*/
@media screen and (max-width: 479px) {
	#steps, .more-info {grid-auto-flow: row;}
	#steps {row-gap: 15px;}	
	.more-info{grid-template-columns: unset; row-gap: 35px;}
	.contact-card {animation: floatMobile 3s linear infinite;}
}


/*\TABLET STYLES\*/
@media screen and (min-width: 480px) and (max-width: 767px) {
	#steps, .more-info {grid-auto-flow: row;}
	#steps {row-gap: 15px;}	
	.more-info {grid-template-columns: unset; row-gap: 35px;}
		#more {grid-auto-flow: column; column-gap: 30px;}
	.contact-card {animation: floatMobile 3s linear infinite;}
}