@charset "utf-8";
@import "base.css";

article, #media, #media body {display: grid;}
#media img {justify-self:center;}
/*\SHARED STYLES\*/

/*DISPLAY*/
article {
	grid-template-columns: min-content auto;
	min-height: 60vh;
}
#type, h3, .options {display: grid;}

/*FLEX STYLES*/
.options{flex: 1;}
h3 {align-content: center;}

/*GRID STYLES*/


/*Color*/
/*?text*/
/*?background*/


/*Alignment*/
/*?content*/
#type {justify-content: flex-end;}
/*?position*/


/*Sizing*/
.options, .result, #page, #media {min-height: 100%;}



/*\GENERAL STYLES\*/
body {
	background-color: var(--bone); 
	grid-template-rows: max-content auto auto max-content;
}
article {outline: var(--darkPurple) 1px solid;}

#type {
	padding: 10px;
	background-color: var(--bone);
}
#type table {
	border-collapse: collapse;
	background-color: var(--ebony);
} 
.choice {border: 1.5px #a7a7a7 outset;}
	.choice:hover {background-color: var(--wenge);}
.choice button {
	border: none;
	border-radius: 2px;
	background-color: transparent;
	color: var(--bone);
}
.choice button:hover {cursor:pointer; color: var(--darkPurple);}
.choice .active {text-decoration: underline; font-weight: bold; color: #fff;}

.options.mobile {display: none;}
.options h3 {
	margin: 0px;
	background-color: var(--fulvous);
	padding: 10px;
}
.options button {
	border: none;
	background-color: var(--ebony);
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}
.options button:hover {background-color: var(--darkPurple); color: #fff;}
button.selected {
	background-color: var(--bone);
	color: var(--darkPurple);
}

h3 {text-align: center;}
.result {
	flex: 65%;
	background-color: #fff;
}
#page, #media {
	width: 100%; 
	border: none;
}


/*\MOBILE & TABLET STYLES\*/
@media screen and (max-width: 767px) {
	#design, #development {grid-template-rows: max-content auto; grid-template-columns: initial; row-gap: 10px;}
	.options.desktop {display: none;}
	.options.mobile {display: block;}
	#page, #media {height: 80vh;}
}