<header>
    <a id="logo" routerLink="">
        <img class="desktop" src="../../media/bxs_logo.png" alt="bingham x solutions logo">
        <img class="mobile" src="../../media/logotype_combo.png" alt="bingham x solutions logo">
        <img class="small-device" src="../../media/monogram_logotype.png" alt="bingham x solutions logo">
    </a>			

    <button id="small-menu-btn" (click)="toggleMenu()">
        <figure>
            <img src="../../icons/iMenu_hamburger_white.png" alt="Menu button">
            <figcaption>Menu</figcaption>	
        </figure>
    </button>    
    
    <app-menu *ngIf="state" (click)="checkStatus()"></app-menu>
</header>