<article>
	<h1>Samples</h1>
	
	<section id="next-steps">		
		<div class="options column">
			<button *ngFor="let service of services" class="{{service.id}}" (click)="showSample(service.id)">{{service.name}}</button>
		</div>

		<div *ngIf="currentSample == 'bCard'" class="content bCard">
			This is for Business Cards!!
		</div>
		<div *ngIf="currentSample == 'logo'" class="content logo">
			This is for Logos!!
		</div>
		<div *ngIf="currentSample == 'flyer'" class="content flyer">
			This is for Flyers!!
		</div>
		<div *ngIf="currentSample == 'website'" class="content website">
			This is for Websites!!
		</div>
	</section>
</article>