@charset "utf-8"
@import "src/styles.sass"


article
	display: grid
	justify-content: center
	backdrop-filter: blur(5px)

section 
	width: 70vw
	color: $darkPurple
	background-blend-mode: luminosity
	p
		text-shadow: -1px 1px 1px $bone
	a 
		color: $darkPurple
		text-decoration: 1px underline $fulvous
	h2 
		color: $bone
		text-shadow: -1px 1px $cinereous

#bCard
	min-width: fit-content
	z-index: 5
	box-shadow: 1px 0px 5px black
.bCard
	background-color: $cinereous
.flyer
	background-color: $bone
.logos
	background-color: $earthYellow
.website
	background-color: $khaki
.options
	grid-template-columns: repeat(auto-fit, 25%)
	border-color: $darkPurple
	button
		font: bold 1em / 1.15em Elite, monospace
		border: outset 1px 1px 0px 1px
		border-radius: 10px 10px 0px 0px
		position: relative
		text-overflow: clip
		overflow: hidden
		white-space: nowrap
		padding: 3%
		//width: fit-content
		//z-index: 5
		//box-shadow: 2px 0px 4px black
		&:active
			filter: invert(5%)
		&:hover
			filter: invert(15%)
			border: inset 2px
.content
	padding: 2%
	box-shadow: 2px 0px 2px black