<article (scroll)="colorHeader()">
	<h1>Welcome to Your New Design!</h1>

	<section id="info" class="column">
		<div class="row">
			<h2>Hey there!</h2>
			<p>
				My name is Kashai and I put the "bingham" in bingam x solutions. I design logos, flyers, business cards, and websites.
			</p>

			<a id="cta" routerLink="contact">Sign up for a consultation!</a>
		</div>

		<app-contact-card></app-contact-card>
	</section>

	<section id="next-steps">
		<h2>So what's next?</h2>
		
		<div class="options desktop column">
			<button onclick="showDev('logos', this)">Logos</button>
			<button onclick="showDev('flyers', this)">Flyers</button>
			<button onclick="showDev('bsuiness_cards', this)">Business Cards</button>
			<button onclick="showDev('websites', this)">Websites</button>
		</div>

		<select oninput="showDev(this.value, this.selectedIndex)" class="options mobile">
			<option value="" selected disabled>Choose a Service Type</option>
			<option value="logos">Logos</option>
			<option value="flyers">Flyers</option>
			<option value="bsuiness_cards">Business Cards</option>
			<option value="websites">Websites</option>
		</select>

		<div>
			
		</div>
	</section>
</article>