@charset "utf-8"
@import "src/styles.sass"

/*\SHARED STYLES\*/
#info
	backdrop-filter: blur(20%)
	justify-content: center
	p 
	filter: drop-shadow(1px 1px #000)
	color: $earthYellow
	text-shadow: -2px 1px 2px $darkPurple
section
	display: grid
	grid-template-columns: 70%
	justify-content: center
	padding: 15px

#cta a
	align-content: center
	display: grid
	padding: 15px
	height: fit-content
	justify-self: center
	border: none
	border-radius: 3px
	color: #fff
	filter: drop-shadow(-1px 1px 3px $cinereous)
	font-weight: bold
	/*styles the cta buttons*/
	&#sample
		background-color: $buff
		&:hover
			background-color: $fulvous
	&#contact
		background-color: $ebony
		&:hover
			background-color: $fulvous



/*\GENERAL STYLES\*/
h1 
	color: $cinereous
	text-shadow: -3px -3px 2px $darkPurple


/*\SMALL SCREEN STYLES\*/
@media screen and (min-width: 240px) and (max-width: 359px) 
	section 
		padding: 0px
		justify-items: center
		p 
			padding: 0px
		h2
			text-align: center
	#info
		grid-auto-flow: row
		grid-template-columns: unset
		text-align: center
		row-gap: 25px

	.mobile
		diplay: grid
	.desktop
		display: none



/*\MOBILE STYLES\*/
@media screen and (min-width: 360px) and (max-width: 479px) 
	section h2
		text-align: center
	#info
		grid-auto-flow: row
		grid-template-columns: unset
		text-align: center
		row-gap: 35px
	.mobile
		diplay: grid
	.desktop
		display: none



/*\TABLET STYLES\*/
@media screen and (min-width: 480px) and (max-width: 767px) 