@charset "utf-8";

:root {
	/**COLORS*/
	/*primary colors*/
	--fulvous: #e98a15;
	--darkPurple: #260c1a;
	--ebony: #5b5941;
	
	/*secondary colors*/
	--earthYellow: #e8b471;
	--wenge: #77686c;
	--battleshipGray: #989683;


	/*accent colors*/
	--bone: #e7decd;
	--silver: #afa39d;
	--ashGray: #bdbaa8;
}

html, body {min-height: 100vh;}
html {background: var(--ashGray) url(../../assets/media/logomark.png) center / center fixed no-repeat;}
img {object-fit: contain; max-width: 80vw;}